## Data Types

In [ ]:
Numeric DT >> int, float, complex

Text >> str

Sequence/iterables >> list, tuple, set, frozenset

Mapping >> dict

Boolean >> bool (True, False)
            range , bytearray, bytes, None

In [1]:
a = {'a': 20}
type(a)

dict

In [2]:
b = { 4,5,6}
type(b)

set

In [3]:
int(True)

1

In [4]:
int(False)

0

# Numerical Data Types

## 1. int DT

In [ ]:
Whole number
+ve or -ve 
int function

10, 20, -1,-4

In [5]:
s = 1
type(s)

int

In [6]:
s = -1
type(s)

int

In [7]:
s = 0
type(s)

int

## 2. float DT

In [ ]:
It contain decimal point
+ve or -ve
float

In [8]:
a = 2.2
type(a)

float

In [9]:
a = -2.2
type(a)

float

In [10]:
a = 0.0
type(a)

float

## 3. complex DT

In [ ]:
It contain real and imaginary part
a + bj

In [11]:
x = 5 + 6j
type(x)

complex

In [12]:
x = -4 + 6j
type(x)

complex

In [13]:
x = -4 - 6j
type(x)

complex

In [14]:
x = -4 - 6
type(x)

int

In [15]:
x = -4 - 6k
type(x)

SyntaxError: invalid decimal literal (1961662210.py, line 1)

In [16]:
x = 6j
type(x)

complex

In [17]:
x = -4.4 - 6j
type(x)

complex

## Python Casting(Type Cating/coersion)

In [ ]:
int to float
float to int
int to complex
float to complex

## 1. int to float

In [21]:
a = 10 
print(a, type(a))
print()

b = float(a)
print(b, type(b))

10 <class 'int'>

10.0 <class 'float'>

In [22]:
a = -67 
print(a, type(a))
print()

b = float(a)
print(b, type(b))

-67 <class 'int'>

-67.0 <class 'float'>

## float to int

In [23]:
a = -6.7 
print(a, type(a))
print()

b = int(a)
print(b, type(b))

-6.7 <class 'float'>

-6 <class 'int'>

In [24]:
a = 45.3
print(a, type(a))
print()

b = int(a)
print(b, type(b))

45.3 <class 'float'>

45 <class 'int'>

In [25]:
a = 45.99
print(a, type(a))
print()

b = int(a)
print(b, type(b))

45.99 <class 'float'>

45 <class 'int'>

## int to complex

In [28]:
a = 20 
print(f'value in variable a is : {a} , {type(a)}')

b = complex(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 20 , <class 'int'>
value in variable b is : (20+0j) , <class 'complex'>

In [29]:
a = 4565 
print(f'value in variable a is : {a} , {type(a)}')

b = complex(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 4565 , <class 'int'>
value in variable b is : (4565+0j) , <class 'complex'>

## float to complex

In [30]:
a = 45.65 
print(f'value in variable a is : {a} , {type(a)}')

b = complex(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 45.65 , <class 'float'>
value in variable b is : (45.65+0j) , <class 'complex'>

## complex to int

In [31]:
a = 5 + 3j 
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : (5+3j) , <class 'complex'>

TypeError: int() argument must be a string, a bytes-like object or a real number, not 'complex'

## complex to float

In [33]:
a = 5+4j 
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : (5+4j) , <class 'complex'>

TypeError: float() argument must be a string or a real number, not 'complex'

## int to string

In [34]:
a = 5 
print(f'value in variable a is : {a} , {type(a)}')

b = str(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 5 , <class 'int'>
value in variable b is : 5 , <class 'str'>

## float to string

In [35]:
a = 5.8 
print(f'value in variable a is : {a} , {type(a)}')

b = str(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 5.8 , <class 'float'>
value in variable b is : 5.8 , <class 'str'>

## str to int

In [36]:
a =  '1234'          # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 1234 , <class 'str'>
value in variable b is : 1234 , <class 'int'>

In [37]:
a =  '-34'           # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : -34 , <class 'str'>
value in variable b is : -34 , <class 'int'>

In [38]:
a =  '-34         '       # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : -34          , <class 'str'>
value in variable b is : -34 , <class 'int'>

In [39]:
a =  '         -34         ' # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is :          -34          , <class 'str'>
value in variable b is : -34 , <class 'int'>

In [40]:
a =  '-3 4         '     # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : -3 4          , <class 'str'>

ValueError: invalid literal for int() with base 10: '-3 4         '

In [41]:
a =  '1267h'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 1267h , <class 'str'>

ValueError: invalid literal for int() with base 10: '1267h'

## str to float

In [43]:
a =  '34.56'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 34.56 , <class 'str'>
value in variable b is : 34.56 , <class 'float'>

In [44]:
a =  '    34.56    '   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is :     34.56     , <class 'str'>
value in variable b is : 34.56 , <class 'float'>

In [45]:
a =  '34. 56'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 34. 56 , <class 'str'>

ValueError: could not convert string to float: '34. 56'

In [46]:
a =  'hi'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : hi , <class 'str'>

ValueError: could not convert string to float: 'hi'

In [47]:
a =  '34.56'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = int(a) 
print(f'value in variable b is : {b} , {type(b)}')

value in variable a is : 34.56 , <class 'str'>

ValueError: invalid literal for int() with base 10: '34.56'

In [48]:
a =  '34.56'   # string contains only numbers
print(f'value in variable a is : {a} , {type(a)}')

b = float(a) 
print(f'value in variable b is : {b} , {type(b)}')

c = int(b) 
print(f'value in variable c is : {c} , {type(c)}')

value in variable a is : 34.56 , <class 'str'>
value in variable b is : 34.56 , <class 'float'>
value in variable c is : 34 , <class 'int'>

In [50]:
a = [1,2,3]
type(a)

list

In [51]:
b = (3,4,5)
type(b)

tuple

In [52]:
a = [1,2,3]
tuple(a)

(1, 2, 3)

In [53]:
'\n'

'\n'

In [54]:
print('DFGHJKIUYT  \n DFGHJXCVBNM')

DFGHJKIUYT
 DFGHJXCVBNM

In [55]:
'DFGHJKIUYT  \n DFGHJXCVBNM'

'DFGHJKIUYT  \n DFGHJXCVBNM'

In [60]:
print('DFGHJKIUYT  \\n DFGHJXCVBNM')

DFGHJKIUYT  \n DFGHJXCVBNM

In [ ]:
print('DFGHJKIUYT  top\'n town DFGHJXCVBNM')

In [56]:
type(4j)

complex

In [57]:
j4 = 4j
j4

4j

In [58]:
s = ['A', 2,3.5]
s

['A', 2, 3.5]

In [59]:
tuple(s)

('A', 2, 3.5)