# Features of Python

In [ ]:
1. Programmer friendly Language (Easy to write, learn, read)
2. Free and open source
3. Simple to debug
4. Vast library support 
5. Dynamically typed Language(do not need to specify data type)
6. Object Oriented Programming Language (OOPs), High level programming
7. Python Interpreted Language (do not require prior compilation)

In [2]:
a = 5 , int
print(type(a))

<class 'int'>

In [3]:
a = 1
b = 2 
c = hi
d = 3

NameError: name 'hi' is not defined

In [8]:
b

2

In [9]:
a = 1
b = 2 
c = b
d = 3
c

2

## Types of Variables

In [ ]:
1. Global Variable
2. Local Variable

In [25]:
# User defined function

a = 500 # global var

def my_fun(): # user define function
    x = 100   # local var
    print('Val of a + x is :', a+x)
    
my_fun()       # calling the function

print(a)
print(x)

Val of a + x is : 600
500

NameError: name 'x' is not defined

In [29]:
# User defined function

a = 400 # global var
x = 50

def my_fun(): # user define function
    x = 100   # local var
    print('Val of a + x is :', a+x)
    
my_fun()       # calling the function

print(a)
print(x)

Val of a + x is : 500
400
50

In [30]:
x = 10 
y = 20 
z = 30
print(x , y , z)

10 20 30

In [32]:
x = 10 
y = 20 
z = 30
print(x, '\n')
print(y)

10

20

In [35]:
x = 10 
y = 20 
z = 30
print(x, '\n\n\n')
print()
print(y)

10




20

In [39]:
x = 10 
y = 20 
z = 30
print(x, '\n')
print('\t',y)
print(z)

10

	 20
30

In [43]:
x = 10 
y = 20 
z = 30
print(x, '\n')
print('\t',y, end = ' ')
print(z)

10

	 20 30

In [44]:
x = 10 
y = 20 
z = 30
print(x, '\n')
print('\t',y, end = '')
print(z)

10

	 2030

In [46]:
x = 10 
y = 20 
z = 30
print(x, '\n',y)

10
 20

In [48]:
print(x,y)

10 20

In [54]:
x = 10 
y = 20 
z = 30
print(x, end = ' hi ')
print(y)

10 hi 20

In [ ]:
# import pandas as pd
# pd.read_csv()  >> shft  + tab ( + tab)   # documentation

## String Formatting

### f-string

In [58]:
x = 100

y = 200

z = 300

print('x == ',x, ',y == ',y, ',z == ',z)

x ==  100 ,y ==  200 ,z ==  300

In [67]:
x = 100

y = 200

z = 300

print(f'x == {x}, y == {y}, z == {z}')

x == 100, y == 200, z == 300

In [69]:
x = 100

y = 200

z = 300

print(f'x == {x}, y == {y}, z == {z}, x+y+z == {x+y+z}')

x == 100, y == 200, z == 300, x+y+z == 600

In [70]:
x = 100

y = 200

z = 300

print(f'z == {x}, x == {y}, y == {z}, x+y+z == {x+y+z}')

z == 100, x == 200, y == 300, x+y+z == 600

## .format

In [77]:
x = 100

y = 200

z = 300

print('x == {}, y == {}, z == {} '.format(x,y,z))

x == 100, y == 200, z == 300

In [78]:
x = 100

y = 200

z = 300

print('x == {}, y == {}, z == {}, x+y+z == {} '.format(x,y,z, x+y+z))

x == 100, y == 200, z == 300, x+y+z == 600

In [80]:
a = 10
print('a == %d' %a)     # %d >> for int

a == 10

In [81]:
a = 10
b = 5.5
print('b == %f' %b)     # %f >> for float

b == 5.500000

In [82]:
a = 10
b = 5.5
print('b == %f' %a)     # %f >> for float

b == 10.000000

In [83]:
a = 10
b = 5.5
c = '20'
print('c == %s' %c)     # %s >> for str

c == 20

In [84]:
a = 10
b = 5.5
c = '20'
print('c == %d' %c)     # %s >> for str

TypeError: %d format: a real number is required, not str

## Multiple Values to multiple variables

In [85]:
a = 10
b = 20
c = 'hi'
print(a,b,c)

10 20 hi

In [86]:
a = 10, b = 20, c = 'hi'
print(a,b,c)

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1262549641.py, line 1)

In [87]:
a = 10; b = 20; c = 'hi'
print(a,b,c)

10 20 hi

In [88]:
a, b, c = 10,20,'hello'
print(a,b,c)

10 20 hello

In [89]:
a, b, c, d = 10,20,'hello'
print(a,b,c)

ValueError: not enough values to unpack (expected 4, got 3)

In [90]:
a, b, c = 10,20,'hello', 5
print(a,b,c)

ValueError: too many values to unpack (expected 3)

## Delete Variables

In [92]:
str1 = 'Pune'
print(str1)

del str1
print(str1)

Pune

NameError: name 'str1' is not defined

In [93]:
a = [1,2,30]
a

[1, 2, 30]

In [94]:
del a
a

NameError: name 'a' is not defined

In [95]:
print('Python')
print('Data Science')

Python
Data Science

In [97]:
print('Python', end= ' ')
print('Data Science')

Python Data Science

In [98]:
print('Python', end= '\n')
print('Data Science')

Python
Data Science

In [99]:
print('Python', end= '\n\n')
print('Data Science')

Python

Data Science

In [100]:
print('Python', end= '\n\n\t')
print('Data Science')

Python

	Data Science

In [101]:
print('Python', end= '_')
print('Data Science')

Python_Data Science

In [103]:
print('Python', '\n', 'DL')
print('Data Science')

Python
 DL
Data Science

In [104]:
print('Python\n')
print('Data Science')

Python

Data Science

In [105]:
print('Python', end = '_')
print('Data Science', end = '_')
print('ML')

Python_Data Science_ML

In [106]:
print('Python', end = '_')
print('Data Science')
print('ML')

Python_Data Science
ML

In [109]:
print('Python', end= '\n,\n')
print('Data Science','Siraj')

Python
,
Data Science Siraj

In [113]:
print('Python','Data')

PythonData

In [114]:
'\n'

'\n'

In [116]:
print('\n\n\n')

In [117]:
'python\nData science'

'python\nData science'

In [118]:
print('python\nData science')

python
Data science

In [128]:
x = 100

y = 200

z = 300

print(f'x ==++++++====== {x}, y == {y}, z == {z} ')

x ==++++++====== 100, y == 200, z == 300

In [130]:
y == 100

False

In [22]:
my_fun()

Val of a + x is : 600

In [23]:
my_fun()

Val of a + x is : 600